<div>
  @for(filter of taskFilters; track filter){
    <button (click)="onFilterChange(filter)">{{filter}}</button>
  }
</div>
<div>
  @for(task of listTask(); track task.id){
  <span>
    <ul>
      <li [class]="task.isCompleted | completed">
        {{ task.title }}
        <input
          type="checkbox"
          [checked]="task.isCompleted"
          (change)="toggleTaskStatus(task.id)"
          aria-label="Toggle task completion"
        />
        <button (click)="selectTask(task.id)">Select task</button>
        <button (click)="updateTask(task.id)">Update task</button>
        <button
          (click)="deleteTask(task.id)"
          style="background-color: rgb(194, 33, 33); color: bisque"
        >
          Delete task
        </button>
      </li>
    </ul>
  </span>
  }
</div>
