
<div>
  <button (click)="onFilterChange('all')">All</button>
  <button (click)="onFilterChange(TaskFrequency.DAILY)">Daily</button>
  <button (click)="onFilterChange(TaskFrequency.MONTHLY)">Monthly</button>
  <button (click)="onFilterChange(TaskFrequency.ANNUAL)">Annual</button>
  <button (click)="onFilterChange(TaskFrequency.ONE_TIME)">One time</button>
</div>
<div>
  @for(task of listTask(); track task.id){
  <span>
    <ul>
      <li [class]="task.isCompleted | completedTask">
        {{task.title}}
        <input 
          type="checkbox" 
          [checked]="task.isCompleted"
          (change)="changeStatus(task.id)" 
          aria-label="Toggle task completion"
          />
      </li>
    </ul>
  </span>
  }
</div>